h1{
    color: #2a0a5e;
    transform: scale(0.9);
    transition-property: transform;
    transition-duration: 400ms;
    cursor: pointer;
}

a{
    animation: 3s ease-in 1s infinite reverse both running slidein;

}

h1:hover{
    transform: scale(1);

}

p {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
    text-align : center;
    padding-bottom: 2em;
}

#intro{
    height: 400px;
}

#intro2{
    text-align: center;
        
}

.bg-dark{
    background-color:#2a0a5e ;
}
#bouton{
   width: 200px; 
   text-align: center;
}

#nom{
    color: #2a0a5e;
}

h1{
    color: #00c2cb;
}

#logo{
    color: #2a0a5e;
}


#dernier{
    height: 750px;

}

#portfolio{
top: 60px;
}

.card {
height: 300px;
width: 200px;
margin-left: 2%;
background-color: #17141d;
border-radius: 10px;
box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
}


.title {
color: white;
font-weight: 300;
position: absolute;
left: 20px;
top: 10px;
}
